# Java
*.class
*.jar
*.war
*.ear

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
*.iml
*.ipr
*.iws

# Eclipse
*.classpath
*.project
*.settings/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Test output
/surefire-reports/

# Others
*.swp
*.swo

# Application properties (optional, se não quiser versionar configs locais)
# src/main/resources/application-local.properties

